html, body {
  background-color: rgb(14, 5, 44);
  font-family: Helvetica, Arial, sans-serif;
  color: aqua;
  
}

body {
  max-width: 100rem;
  width: 90%;
  margin: 0 auto;
}

input {
  width: 100%;
  font-size: 1.3rem;
}

.group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

@media (min-width: 768px) {
  .group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
}

.card {
  border: 1px solid rgb(110, 115, 222);
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .card img {
    height: 90%;
    display: flex;
    flex-direction: column;
    
}}

@media (max-width: 768px) {
  .card img {
    width: 100%;
    display: flex;
    align-items: center;
  }
}



.card p {
  text-align: center;
}